header{
    background-color: rgb(202, 144, 56);
    padding: 100px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}

#dataLlist{
    display: flex;
    flex-wrap: wrap;
}
 #dataLlist div{
    width: 400px;
    height: 400px;
    margin: 20px;
    border: 2px solid black;
    text-align: center;
}
footer{
    clear: both;
    background-color: rgb(202, 144, 56);
    padding: 100px;
    text-align: center;
    font-family: 'Anton', sans-serif;
} 