header{
    background-color: blanchedalmond;
    padding: 100px;
    text-align: center;
    font-family: 'Anton', sans-serif;
}

#dataLlist{
    display: flex;
    flex-wrap: wrap;
}
 #dataLlist div{
    width: 250px;
    height: 250px;
    margin: 20px;
    border: 2px solid black;
    text-align: center;
    background-color:blanchedalmond;
}
footer{
    clear: both;
    background-color: blanchedalmond;
    padding: 100px;
    text-align: center;
    font-family: 'Anton', sans-serif;
} 