div img{
    width: 150px;
    height: 150px;
    margin-left: 30px;
    border-radius: 14px;
}

div h2{
    font-family: 'Syne Mono', monospace;
    
}
select{
    position: relative;
    top: 20px;
    left: 70px;
}